

.machine__techStack__outercontainer{
    margin: 1em 0em;
}

.unreal{
    color: white;
}

@media(min-width:831px){

    .machine__container{
        display: flex;
        flex-direction: column;
        margin: 1em 0em;
    }

    .machine__grid{
        display: grid;
        grid-template-columns: repeat(2,40%);
        justify-content: center;
        gap: 3em;
    }

    .machine__info__container{
        justify-content: center;
        color: white;
        font-size: 1.25rem;
    }

    .machine__image__innercontainer{
        display: flex;
        object-fit: contain;
    }

    .machine__image{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .machine__text{
        font-size: 1.15rem;
    }

    .machine__techImage{
        width: 6em;
    }
}

@media (min-width: 601px) and (max-width:830px){
    .machine__container{
        display: flex;
        flex-direction: column;
        margin: 1em 0em;
        padding: 0em 2em;
    }

    .machine__grid{
        display: flex;
        flex-direction: column;
    }

    .overview__container{
        display: flex;
        flex-direction: column;
    }

    .machine__info__container{
        justify-content: center;
        color: white;
        font-size: 1.5rem;
        margin-top: 1.25em;
        padding: 0em 1.5em;
    }

    .machine__image__innercontainer{
        display: flex;
        justify-content: center;
        object-fit: contain;
    }

    .machine__image{
        width: 40em;
        border-radius: 10px;
    }

    .machine__text{
        font-size: 1.2rem;
    }
    
    .machine__techImage{
        width: 4em;
    }
}

@media(max-width:600px){
    .machine__container{
        display: flex;
        flex-direction: column;
        margin: 1em 0em;
        padding: 0em 2em;
    }

    .machine__grid{
        display: flex;
        flex-direction: column;
    }

    .overview__container{
        display: flex;
        flex-direction: column;
    }

    .machine__info__container{
        justify-content: center;
        color: white;
        font-size: 1.25rem;
        margin-top: 1.25em;
    }

    .machine__image__innercontainer{
        display: flex;
        justify-content: center;
        object-fit: contain;
    }

    .machine__image{
        width: 20em;
        border-radius: 10px;
    }

    .machine__text{
        font-size: 0.85rem;
    }
    
    .machine__techImage{
        width: 4em;
    }
}
